*{
    outline: 1px solid red;
    margin: 0;
}

.link{
    display: inline-block;
    

}
a{
    font-size: 14pt;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    margin-right: 121px;
    
}

nav{
    text-align: center;
    margin-bottom: 103px;
}

section{
    margin-right: 60px;
    display: inline-block;
    width: 480px;
}
article{
    text-align: center;
    
}
.life{
    font-size: 14pt;
    color: rgba(180, 173, 158, 255);
    text-align: left;
}
.head{
    font-size: 30pt;
    color: rgba(98, 98, 98, 255);
    text-align: left;
}
.text{
    font-size: 14pt;
    text-align: left;
    color: rgba(98, 98, 98, 255);
}
