*{
    margin: 0;  
}

.whater{
    font-size: 14pt;
    color: rgb(53, 169, 236);
    margin-left: 313px;
    margin-top: 77px;
}
.normal{
    margin-left: 505px;
    margin-top: -19px;
}

.one{
    margin-top: 191px;
    margin-left: 150px;
    
}
.two{
    margin-bottom: 1608px;
    margin-left: 630px;
}
.lefting{
    margin-left: 151px;
}
